# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
streamlit
openpyxl
pandas
folium
#pip install -r requirements.txt
#pip install pandas matplotlib